cycler==0.12.1
cython == 3.2.4
decorator==5.1.1
docopt==0.6.2
ezdxf==1.4.3
imageio==2.31.0
matplotlib==3.10.8
networkx==3.1
numpy==2.4.1
pandas==2.3.3
Pillow==12.1.0
platformdirs==4.5.1
pyparsing==3.0.9
pyqt-distutils==0.7.3
PyQt6==6.10.2
PyQt6-sip==13.11.0
python-dateutil==2.8.2
PyYAML==6.0.3
scikit-fmm==2025.6.23
scikit-image==0.26.0
scipy==1.17.0
six==1.17.0
sphinx==9.1.0
